*~
*.pyc
new_feed.zip
transitfeedcrash.txt
validation-results.html
merge-results.html
build
dist
MANIFEST

# IDEA FILES
.idea
!/.idea/runConfigurations/RunTests.xml
!/.idea/runConfigurations/RunFeedValidator_Bad.xml
!/.idea/runConfigurations/RunFeedValidator_Good.xml

# VIRTUAL ENV
venv


# TESTS
.cache
